@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('woff');
}

h1{
    font-family: 'SEGA LOGO FONT' !important;
    font-size: 2em;
    color: deepskyblue;
}